body {
    margin: 15px;
    font-family: 'Lora', normal;
    font-size: 18px;
    line-height: 1.4;
}

h1 {
    font-family: 'Roboto', normal;
    font-size: 1.8em;
}

h2 {
    font-family: 'Roboto', normal;
    font-size: 1.3em;
}

.navbar {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    
    li {
        display: inline;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.post, .home{
    margin: 18px;
    margin-right: 25px;
}

.main-content {
    margin-top: 2em;
    margin-bottom: 2em;

    padding-left: 3em;
    padding-right: 3em;
}

@media only screen and (max-width: 768px) {
    .main-content {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}